.home-page{
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.614), rgba(255, 0, 212, 0.519));
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-content-div{
    text-align: center;
}

.home-content-div p{
    font-size: large;
}

.navbar{
    background-color: rgba(128, 7, 7, 0.507);
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.navbar a{
    text-decoration: solid;
    font-size: large;
}

.facts-page{
  background-image: linear-gradient(to bottom, rgba(255, 106, 0, 0.841), rgba(255, 0, 144, 0.803));
}
.facts-content-div{
    margin-left: 10%;
}

.facts-content-div li{
    font-size:large
}


.gallery-content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button{
    border-radius:30%;
    padding: 1% ;
    margin: 1%;
    background-color: rgb(154, green,152 blue,152);
    border-color:rgb(red,152 green,152 blue,152) ;
    border:none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}

.gallery-page {
    background-image: linear-gradient(to bottom, rgb(255, 0, 166), rgb(255, 170, 0));
}