.home-page{
    background-color: #80191991;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-content-div{
    text-align: center;
}

.home-content-div p{
    font-size: large;
}

.navbar{
    background-color: rgba(125, 44, 44, 0.507);
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.navbar a{
    text-decoration: solid;
    font-size: large;
}

.facts-page{
    background-color: #3a11617a;
}
.facts-content-div{
    margin-left: 10%;
}

.facts-content-div li{
    font-size:large
}


.gallery-content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button{
    border-radius:30%;
    padding: 1% ;
    margin: 1%;
    background-color: rgb(154, green,152 blue,152);
    border-color:rgb(red,152 green,152 blue,152) ;
    border:none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}